.gradle/
.idea/
.navigation/
.settings/

build/
# Gradle is required for Travis build.
#gradle/
androidbillinglibrary/build/
actionbarsherlock/build/

bin/
gen/

# Local configuration file (sdk path, etc)
local.properties

# Windows thumbnail db
Thumbs.db

# OSX files
.DS_Store

# Eclipse project files
.classpath
.project

# Android Studio
.idea
*.iml

# NPM modules
scripts/deployment/node_modules

# Proxy settings & JVM memory allocation.
#/gradle.properties

# Fabric settings
/fabric.properties
/app/fabric.properties

# Build results
ammx-*.apk

# What is this?! Something from Robolectric.
session_analytics_to_send