<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) 2012-2018 The Android Money Manager Ex Project Team
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 3
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.money.manager.ex">

    <!-- xmlns:tools="http://schemas.android.com/tools" -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- sync authenticator -->
    <!--<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />-->
    <!-- sync adapter -->
    <!--<uses-permission android:name="android.permission.READ_SYNC_STATS" />-->
    <!--<uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />-->
    <!--<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />-->

    <!-- SMS Interface -->
    <!--<uses-permission android:name="android.permission.RECEIVE_SMS" />-->
    <!--<uses-permission android:name="android.permission.READ_SMS" />-->

    <!-- Fingerprint Interface -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <!-- for compatibility of Job Scheduler with Android versions prior to 8. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <supports-screens
        android:largeScreens="true"
        android:xlargeScreens="true" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PROFILE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <application
        android:name=".MmexApplication"
        android:allowBackup="true"
        android:backupAgent=".core.MoneyManagerBackupAgentHelper"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:theme="@style/Theme.Splash"
        tools:replace="android:label">
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIV3RVD4VMl2dthsS81qkxq7MW12Iy_LR3_gWXuQ" />

        <receiver
            android:name=".widget.ButtonAddTransactionWidgetProvider"
            android:label="@string/widget_add_transaction">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_button_add_transaction" />
        </receiver>
        <receiver
            android:name=".widget.SummaryWidgetProvider"
            android:label="@string/widget_summary">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_summary" />
        </receiver>
        <receiver
            android:name=".widget.AccountBillsWidgetProvider"
            android:label="@string/widget_all_accounts">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_account_bills" />
        </receiver>
        <receiver android:name=".sync.SyncSchedulerBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="${applicationId}.intent.action.START_SYNC_SERVICE" />
                <action android:name="${applicationId}.intent.action.STOP_SYNC_SERVICE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".sync.SyncBroadcastReceiver" />
        <receiver android:name=".core.RecurringTransactionBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".notifications.RecurringTransactionReceiver" />
        <receiver
            android:name=".widget.SingleAccountWidget"
            android:label="@string/single_account">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_single_account" />
        </receiver>

        <receiver android:name=".notifications.SmsReceiverTransactions"
            android:label="SMS Receiver">
            <intent-filter >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- activities -->

        <activity
            android:name=".home.MainActivity"
            android:label="@string/application_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Samsung MultiWindow Function -->
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/application_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.mmb" />
                <data android:pathPattern=".*\\..*\\.mmb" />
                <data android:pathPattern=".*\\..*\\..*\\.mmb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.mmb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mmb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mmb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mmb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.mmb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.mmb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.mmb" />
                <data android:pathPattern=".*\\.emb" />
                <data android:pathPattern=".*\\..*\\.emb" />
                <data android:pathPattern=".*\\..*\\..*\\.emb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.emb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.emb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.emb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.emb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.emb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.emb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.emb" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".transactions.CheckingTransactionEditActivity"
            android:label="@string/new_edit_transaction">

            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.INSERT" />
                <!-- <data android:scheme="content" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".PayeeActivity"
            android:label="@string/payee">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <action android:name="android.intent.action.EDIT" />
            </intent-filter>
        </activity>
        <activity android:name=".account.AccountListActivity">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <action android:name="android.intent.action.EDIT" />
            </intent-filter>
        </activity>
        <activity android:name=".common.CategoryListActivity">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <action android:name="android.intent.action.EDIT" />
            </intent-filter>
        </activity>
        <activity android:name=".currency.list.CurrencyListActivity">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <action android:name="android.intent.action.EDIT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".about.AboutActivity"
            android:label="@string/about" />
        <activity
            android:name=".currency.CurrencyEditActivity"
            android:label="@string/new_edit_currency">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.INSERT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".account.AccountEditActivity"
            android:label="@string/account_list">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.INSERT" />
            </intent-filter>
        </activity>
        <activity android:name=".recurring.transactions.RecurringTransactionListActivity" />
        <activity
            android:name=".recurring.transactions.RecurringTransactionEditActivity"
            android:label="@string/new_edit_repeating_transaction">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.INSERT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name=".settings.GeneralSettingsActivity"
            android:label="@string/preferences_general" />
        <activity
            android:name=".settings.LookFeelSettingsActivity"
            android:label="@string/preferences_dispaly" />
        <activity
            android:name=".settings.BehaviourSettingsActivity"
            android:label="@string/preferences_behaviour" />
        <activity
            android:name=".settings.InvestmentSettingsActivity"
            android:label="@string/investment" />
        <activity
            android:name=".settings.BudgetSettingsActivity"
            android:label="@string/budget" />
        <activity
            android:name=".settings.SecuritySettingsActivity"
            android:label="@string/preferences_security" />
        <activity
            android:name=".settings.DatabaseSettingsActivity"
            android:label="@string/database" />
        <activity
            android:name=".settings.SyncPreferencesActivity"
            android:label="@string/synchronization"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.money.manager.ex" />
            </intent-filter>
        </activity>
        <activity android:name=".PasscodeActivity">
            <intent-filter>
                <action android:name="${applicationId}.custom.intent.action.REQUEST_PASSWORD" />
            </intent-filter>
        </activity>
        <activity
            android:name=".reports.IncomeVsExpensesActivity"
            android:label="@string/menu_report_income_vs_expenses" />
        <activity
            android:name=".reports.PayeesReportActivity"
            android:label="@string/payee" />
        <activity
            android:name=".reports.CategoriesReportActivity"
            android:label="@string/category" />
        <activity
            android:name=".search.SearchActivity"
            android:label="@string/search" />
        <activity
            android:name=".transactions.SplitCategoriesActivity"
            android:label="@string/split_transaction" />
        <activity
            android:name=".DonateActivity"
            android:label="@string/donate" />
        <activity
            android:name=".HelpActivity"
            android:label="@string/help">
            <intent-filter>
                <action android:name="${applicationId}.custom.intent.action.WEB_VIEW_RAW_FILE" />
                <action android:name="${applicationId}.custom.intent.action.WEB_VIEW_URL" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tutorial.TutorialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/application_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".currency.CurrencyChartActivity"
            android:label="@string/title_activity_currency_chart"
            android:screenOrientation="landscape" />
        <activity
            android:name=".budget.BudgetsActivity"
            android:label="@string/budgets" />
        <activity android:name=".widget.SingleAccountWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".investment.InvestmentTransactionEditActivity"
            android:label="@string/investment" />
        <activity
            android:name=".common.WebViewActivity"
            android:label="@string/donate" />
        <activity
            android:name=".assetallocation.editor.AssetAllocationEditorActivity"
            android:label="@string/asset_allocation" />
        <activity
            android:name=".assetallocation.AssetClassEditActivity"
            android:label="@string/title_activity_asset_class_edit"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".assetallocation.SecurityListActivity"
            android:label="@string/securities" />
        <activity
            android:name=".database.PasswordActivity"
            android:label="@string/enter_password" />
        <activity
            android:name=".investment.PortfolioActivity"
            android:label="@string/portfolio" />
        <activity
            android:name=".assetallocation.AssetAllocationReportActivity"
            android:label="@string/title_activity_asset_allocation_overview" />
        <activity android:name=".budget.BudgetEditActivity" />
        <activity android:name=".assetallocation.list.AssetClassListActivity" />
        <activity android:name=".currency.recycler.CurrencyRecyclerListActivity" />
        <activity android:name=".sync.CloudFilePickerActivity" />
        <activity android:name=".assetallocation.overview.AssetAllocationOverviewActivity">

            <!-- android:parentActivityName=".home.MainActivity" -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value=".home.MainActivity" /> -->
        </activity>
        <activity android:name=".home.SelectDatabaseActivity" />
        <activity android:name=".home.CreateDatabaseActivity" />
        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme" />
        <activity
            android:name=".common.CalculatorActivity"
            android:label="@string/app_name" />

        <!-- providers -->

        <provider
            android:name=".MmxContentProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false" />
        <!-- used for qif export -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <!-- stub provider for the sync framework -->
        <provider
            android:name=".sync.adapter.StubSyncProvider"
            android:authorities="${applicationId}.datasyncprovider"
            android:exported="false"
            android:syncable="true" />

        <!-- services -->

        <service
            android:name=".notifications.RecurringTransactionIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".widget.AccountBillsWidgetService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".widget.SummaryDashExtension"
            android:icon="@drawable/ic_stat_notification"
            android:label="@string/widget_summary"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="2" />
            <meta-data
                android:name="worldReadable"
                android:value="true" />
            <meta-data
                android:name="description"
                android:value="@string/dashclock_extension_summary" />
        </service>
        <service
            android:name=".widget.AccountBillsDashExtension"
            android:icon="@drawable/ic_stat_notification"
            android:label="@string/widget_all_accounts"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="2" />
            <meta-data
                android:name="worldReadable"
                android:value="true" />
            <meta-data
                android:name="description"
                android:value="@string/dashclock_extension_summary_all_account" />
        </service>
        <service
            android:name=".sync.SyncService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="${applicationId}.sync.action.SYNC" />
                <action android:name="${applicationId}.sync.action.DOWNLOAD" />
                <action android:name="${applicationId}.sync.action.UPLOAD" />
            </intent-filter>
        </service>
        <!-- authenticator service for the sync framework -->
        <service
            android:name=".sync.adapter.AuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".sync.adapter.SyncAdapterService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <!-- Samsung MultiWindow Function -->

        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:resource="@dimen/app_defaultsize_w" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:resource="@dimen/app_defaultsize_h" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:resource="@dimen/app_minimumsize_w" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:resource="@dimen/app_minimumsize_h" />

        <activity android:name=".investment.PriceEditActivity"></activity>
    </application>

</manifest>