html {
    font-size: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;
}

.navbar-brand {
    padding: 10px;
}

.page-header {
    /* background-image: url('../images/mmex_r3.png'); */
    background-color: #069278;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    /*height: 38em; */
    height: inherit;
    padding: inherit;

    margin: 0;
}

.main-content {
    max-width: 90rem;
}
